body
{
  margin: 0px;
}

.none
{
  display: none;
}

.block
{
  display: block;
  background: #ccc;
  width: 100px;
}

.inline
{
  display: inline;
  /*background: #aaa;*/
}

.inline-block
{
  display: inline-block;
}
