body
{
  margin: 0px;
}

.one
{
  background: rgb(227, 178, 70);
  height: 200px;
  width: 1000px;
}

.one .one-one
{
  /*float: left;*/
  vertical-align: top;
  display: inline-block;
  width: 500px;
  height: 200px;
}

.one .one-two
{
  /*float: left;*/
  vertical-align: top;
  display: inline-block;
  width: 480px;
  height: 200px;
}

.one-two-one > *
{
  display: inline-block;
  width: 150px;
}

.two-one
{
  display: inline-block;
  background: red;
  height: 200px;
  width: 300px;
}

.two-two
{
  display: inline-block;
  background: rgb(237, 235, 49);
  height: 200px;
  width: 700px;
}

.three
{
  background: black;
  height: 200px;
  width: 1000px;
}
