span
{
  text-align: center;
  font-size: 23px;
  padding: 10px;
  border: 10px double #000000;
}

.left
{
  margin-right: 30px;
  background: #33aa77;
  z-index: 5;
}

.right
{
  margin-left: -100px;
  background: #eeb0b0;
  z-index: 10;
}
