div
{
  min-height: 50px;
  background: rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/*从上往下选*/
/*指的是与相邻的第一个*/
.a + div
{
  background: rgba(255, 0, 0, 0.3);
}

/*从上往下选*/
/*指的是与a同级的全部*/
.a ~ div
{
  background: rgba(0, 255, 0, 0.3);
}
