body
{
  margin: 20px;
  font: Arial 12px;
}

#father
{
  background: #a0c8ff;
  border: 1px dashed #000000;
  padding: 15px;
  position: relative;
  left: 10px;
  top: 10px;
}

/*在使用绝对定位时，盒子以 它最近的一个已经定位（position属性被设置为非static）祖先元素为基准进行偏移；
如果没有已经定位的祖先结点，那么会以浏览器窗口为基准进行定位*/

#son
{
  background: #fff0ac;
  border: 1px dashed #000000;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 50px;
}
