body
{
  margin: 0;
  padding: 0;
}

.content
{
  width: 90%;
  margin: 0 auto;
}

.nav-top
{
  background: rgba(23, 82, 233, 0.82);
  height: 40px;
  text-align: center;
}

.nav-top ul
{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

.nav-top ul li
{
  float: left;
  line-height: 40px;
  width: 70px;
}

.nav-top ul li a
{
  display: block;
  color: #ffffff;
  margin: 0 auto;
}

.nav-top ul li:hover
{
  background: rgba(23, 82, 233, 1);
}

.nav-top ul li a:link,
.nav-top ul li a:visited
{
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 750px)
{
  .nav-top .left ul
  {
    display: none;
  }

  .nav-top .right ul
  {
    display: none;
  }

  .nav-top .left1
  {
    display: block;
    height: 100%;
    width: 70px;
  }

  .nav-top .left1 ul
  {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
  }

  .nav-top .left1 ul li
  {
    float: left;
    line-height: 40px;
    width: 70px;
  }

  .nav-top .menu
  {
    position: absolute;
    top: 5%;

    display: none;

    background: rgba(23, 82, 233, 0.82);
  }

  .nav-top .menu ul
  {

  }

  .nav-top .menu ul li
  {
    float: none;
    display: list-item;
  }
}

@media screen and (min-width: 750px)
{
  .nav-top .menu ul
  {
    display: none;
  }

  .nav-top .left1
  {
    display: none;
  }

  .nav-top .left ul
  {
    float: left;
  }

  .nav-top .right ul
  {
    float: right;
  }

  .nav-top .left ul li
  {
    border-left: 1px solid #ffffff;
  }

  .nav-top .right ul li
  {
    border-right: 1px solid #ffffff;
  }
}

header
{
  height: 100px;
  background: #ffffff;
}

header .left
{
  float: left;
  margin-left: 70px;
  line-height: 100px;
  color: rgba(19, 105, 233, 0.84);
  font-size: 50px;
}

header .right
{
  float: right;
  text-align: center;
}

header .right ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .right ul li
{
  float: left;
  line-height: 100px;
  width: 100px;
}

header .right ul li:hover
{
  background: rgba(0, 0, 0, 0.10);
}

header .right ul li a:link,
header .right ul li a:visited
{
  display: block;
  text-decoration: none;
  color: #000000;
}

.pic
{
  padding: ;
  width: 90%;
  float: left;
  background: #ffffff;
  text-align: center;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.pic ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*height: 765px;*/
  width: 13500px;
  float: left;

  position: relative;
  top: 0;
  left: 0;

  transition: left 1.5s;
}

.pic ul li
{
  float: left;
}

.pic ul li img
{
  width: 90%;
  /*max-height: 600px;*/
}

.pic .cricle
{
  height: 10px;

  position: absolute;
  left: 50%;
  bottom: 7%;
  transform: translate(-50%);
}

.pic .cricle > div
{
  margin: 0 10px;
  float: left;
  width: 12px;
  height: 12px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background: #ffffff;
}

.nav-bot
{
  float: left;
  width: 100%;
  padding: 40px 0;
  background: #EEDDFF;
}

.nav-bot .cen
{
  position: relative;
  left: 50%;
  transform: translate(-50%);

  width: 80%;
  min-height: 130px;
  background: #EEDDFF;
  float: left;
}

.nav-bot .cen > div
{
  width: 25%;
  min-width: 270px;
  height: 100%;
  height: 130px;
  background: #ffffff;
  float: left;
}

.nav-bot .cen div:hover
{
  color: rgba(0, 0, 0, 0.54);
}

.nav-bot .cen div:nth-child(1),
.nav-bot .cen div:nth-child(3)
{
  background: rgba(41, 72, 238, 0.9);
}

.nav-bot .cen .r
{
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 25px;

  position: relative;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%);
}

.nav-bot .cen .one .r
{
  background: red;
}

.nav-bot .cen .two .r
{
  background: yellow;
}

.nav-bot .cen .three .r
{
  background: orange;
}

.nav-bot .cen .four .r
{
  background: purple;
}

.nav-bot .cen span
{
  position: relative;
  left: 45%;
  top: 40%;
  font-size: 20px;
}

footer
{
  float: left;
  width: 100%;
  height: 90px;
  /*background: orange;*/
  text-align: center;
  position: relative;
}

footer span
{
  float: left;
  position: absolute;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
