.content #product
{
  width: 94%;
  margin: 5px auto;
}

.content #product #product-menu
{
  width: 100%;
}

.content #product #product-menu .row
{
  margin-bottom: 10px;
  line-height: 30px;
  overflow: hidden;
}

.content #product #product-menu .row .head
{
  width: 10%;
  float: left;
}

.content #product #product-menu .row .body
{
  float: left;
  text-align: center;
}

.content #product #product-menu .row .body #brand li
{
  cursor: pointer;

  transition: color 0.2s;
}

.content #product #product-menu .row .body #brand li:hover
{
  color:rgb(0,168,230);
}

.content #product #product-menu .row .body ul
{
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content #product #product-menu .row .body ul li
{
  float: left;
  margin-right: 50px;
}

.content #product product-list
{
  width: 100%;
  height: 500px;
  margin: 50px auto;
}

.content #product #product-list .product-single
{
  text-align: center;

  margin-left: 10px;
  margin-bottom: 10px;
  width: 310px;
  height: 350px;
  background: #ffffff;

  float: left;

  transition: box-shadow 0.5s;
}

.content #product #product-list .product-single:hover
{
  box-shadow: 5px 5px 10px rgb(193, 196, 188);
}

.content #product #product-list .product-single img
{
  width: 300px;
  height: 300px;
}
