/*p的第一个字或者字母*/
p:first-letter
{
  font-size: 50px;
}

/*选中这个类的开始*/
.help:before
{
  content: "*";
  color: red;
}

/*选中这个类的最后*/
.help:after
{
  content: "[?]";
  color: rgb(56, 92, 247);
}

/*div中的第一个p*/
div p:first-child
{
  color: blue;
}

/*选择div中的第二个p*/
div p:nth-child(2)
{
  color: green;
}

/*选择div中的最后一个p*/
div p:last-child
{
  color: red;
}
