p
{
  /*文字对齐方式text-align  center right left justify*/
  text-align: left;
  /*行高line-height*/
  line-height: normal;
  /*文字装饰text-decoration*/
  text-decoration: line-through;
}

a
{
  text-decoration: none;
  padding: 10px;
  background: #aaa;
}
