/*类选择器用.来选定 .red*/
.red
{
  color: red;
}

.green
{
  color: green;
}

.bold
{
  font-weight: 900;
}

/*同时存在red和bold的元素*/
.red.bold
{
  border: 1px solid red;
}

/*在red下有green的元素*/
.red .green
{
  border: 1px solid green;
}

/*ID选择器用#选定 #logo*/
#logo
{
  color: gray;
}
